

body {
  background: #F2EAE3;
  color: #292614;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  font-weight: 100;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

h1 {
color: #481E3A;
font-weight: 100;
letter-spacing: 1px;
font-size: 40px;
}

h2 {
color: #292614;
font-weight: 400;
letter-spacing: 1.2px;
font-size: 25px;
}

a {
text-decoration: none;
color: #481E3A;
transition: color 0.3s ease;

}
a:hover {
  color: #EBF5EE;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  padding: 20px;
  padding-top: 40px;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #d8bfaa;
  font-size: 20px;
}

.page-content {
  margin-left: 200px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0px;
}

.container  {
width: 700px;
margin: 40px auto;
}

@media  (max-width: 960px) {
.container  {
  width: 700px;
  }
}

@media  (max-width: 720px) {
.container  {
  width: 500px;
  }
}

@media  (max-width: 540px) {
.container  {
  width: 300px;
  }
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn-red {
  background-color: #481E3A;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-red:hover {
background-color: black;
color: white;
}
.list-inline  {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  pa10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(200,200,200);
}
.list-inline i:hover {
  color: black;
}
#introduction p {
margin-bottom: 40px;
}
